name: Predict AI Build and Deploy
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install dependencies
        run: flutter pub get
        
      - name: Configure project
        run: flutter create . --platforms web,android
        
      # --- GÜVENLİK ADIMI: KOD KARARTMA İLE APK OLUŞTURMA ---
      - name: Build Android APK
        run: flutter build apk --debug # Şimdilik hızlı deneme için debug APK yapıyoruz
        
      # --- WEB SİTESİNİ YAYINLA ---
      - name: Build Web
        run: flutter build web --release --base-href "/1X2-AI-app/"
        
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web

      # --- APK DOSYASINI İNDİRİLEBİLİR YAP ---
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: predict-1x2-ai-app
          path: build/app/outputs/flutter-apk/app-debug.apk
